body,
html {
    
    margin: 0;
    height: 100%;
    background-color: #2BBCBA;
    
}
p   {
    font-family: 'AvenirLTStd55Roman', sans-serif;
    
}

#play-video   {
    
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: url("../img/play.png")
}

.popup-vimeo    {
    
    width: 2%;
}

.mfp-iframe  {
    
    
}

#download   {
    
    width: 300px;
    height: 150px;
    background-image: url("../img/download.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    line-height: 150px;
    color: white;
    font-size: 30px;
    -o-transition: all 0.25s ease;
   -ms-transition: all 0.25s ease;
   -moz-transition: all 0.25s ease;
   -webkit-transition: all 0.25s ease;
}

#download:hover   {
    
     background-image: url("../img/download2.png");
    -o-transition: all 0.25s ease;
   -ms-transition: all 0.25s ease;
   -moz-transition: all 0.25s ease;
   -webkit-transition: all 0.25s ease;
}


#picture    {
    
    background-image: url("../img/nexus-5-mockup.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#home   {
    
    width: 100%;
    height: 100%;
    min-height: 600;
    max-height: 600;
    background-color: #2BBCBA;
    z-index: 100;
    
}

#logo-home  {

    background-image: url("../img/logo-home.png");
    height: 250px;
    width: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto
    
}

#headline   {
    
    width: 40%;
    color: white;
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

#second-screen   {
    
    width: 100%;
    min-height: 100%;
    background-color: white;
    
}


.entypo {
    font-family:"Entypo";
    font-size: 60px;
    line-height: 150px
}





@font-face {
    font-family: 'AvenirLTStd55Roman';
    src: url('../fonts/avenirltstd-roman.eot');
    src: url('../fonts/avenirltstd-roman.eot') format('embedded-opentype'),
         url('../fonts/avenirltstd-roman.woff') format('woff'),
         url('../fonts/avenirltstd-roman.ttf') format('truetype'),
         url('../fonts/avenirltstd-roman.svg#AvenirLTStd55Roman') format('svg');
}

@font-face {
    font-family: 'AvenirLTStd85Heavy';
    src: url('../fonts/avenirltstd-heavy.eot');
    src: url('../fonts/avenirltstd-heavy.eot') format('embedded-opentype'),
         url('../fonts/avenirltstd-heavy.woff') format('woff'),
         url('../fonts/avenirltstd-heavy.ttf') format('truetype'),
         url('../fonts/avenirltstd-heavy.svg#AvenirLTStd85Heavy') format('svg');
}

@font-face {
    font-family:'Entypo';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#Entypo') format('svg');

        
}


    