#team   {
    
    width: 100%;
    height: auto;
    min-height: 1200px;
    background-color: #2BBCBA;
    padding-top: 50px;
    
}

#team-container {
    
    margin-left: 350px;
    width: 70%;
    max-width: 700px;
    height: 500px;
}

.member {
    
    width: 200px;
    height: 300px;
    margin-left: 20px;
    display: inline-table;
    color: white;
    text-align: center;
    font-size: 16px;
}

.member > p {
    
    width: 180px;
    float: right;
}

.role    {
    
    font-family: 'AvenirLTStd85Heavy',sans-serif;
    font-size: 20px;
    margin-bottom:0px;
}


#nicolette  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Nicolette.png");
    background-size: contain;
    background-position: center top;
}

#tori  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Tori2.png");
    background-size: contain;
}

#cris  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Cris2.png");
    background-size: contain;
}

#erica  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Erica2.png");
    background-size: contain;
}

#rebecca  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Rebecca2.png");
    background-size: contain;
}


#lindsay  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Lindsay2.png");
    background-size: contain;
}


#cayetana  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Cayetana2.png");
    background-size: contain;
}


#mackenzie  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Mackenzie2.png");
    background-size: contain;
}


#mayra  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Mayra2.png");
    background-size: contain;
}

#made   {
    
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'AvenirLTStd55Roman';
    font-size: 16px;
    line-height: 30px;
    color: white;
    background-color: #e43e25;
}
