#team   {
    
    width: 100%;
    height: 900px;
    background-color: #2BBCBA;
    padding-top: 50px;
    
}

#team-container {
    
    margin-left: 350px;
    width: 50%;
    height: 500px;
    background-color: grey;
}

.member {
    
    width: 200px;
    height: 350px;
    margin-left: 20px;
}

#nicolette  {
    
    width: 200px;
    height: 200px;
    background-image: url("../img/Nicolette.png");
}
